[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/studio"
  to = "https://thetwinklingeye.sanity.studio"
  status = 301

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm run dev"
  targetPort = 4321
  publish = "dist"
  autoLaunch = true
  
  [[headers]]
    for = "/*"
    [headers.values]
      # Content Security Policy
      Content-Security-Policy = "default-src 'self'; script-src 'self' 'sha256-MWfa2DMsAYOZmuYMBcTIoN92OshhUKlk29gSTU+z7Rs=' 'sha256-fHN/crechXUUYDkrfG6LTjbZLdhNk9uzSpalf/gFKt8=' 'sha256-3DlQ1zLvUvcd/EfrivQvjgulpVRXd+S23h2IjeGmw+c=' 'sha256-xOTPgRvokkV3cu//UWdnoDNzB+5/muzQQ3RHB03Euk4=' 'sha256-7t7oCyZMO/ekwUMok8yFa63c2MVZrYuVglQXhW8V4wQ=' 'sha256-zCDWR96lWIcqd5YfZ+yVcd36aqwZedpvy4D9kxJRpr8=' https://talk.hyvor.com https://*.hyvor.com https://challenges.cloudflare.com https://cdnjs.cloudflare.com https://www.youtube.com https://s.ytimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com; img-src 'self' data: https: blob:; font-src 'self' https://cdnjs.cloudflare.com; connect-src 'self' https://api.sanity.io https://challenges.cloudflare.com https://talk.hyvor.com https://*.hyvor.com wss://soketi.hyvor.com; frame-src 'self' https://talk.hyvor.com https://*.hyvor.com https://challenges.cloudflare.com https://www.youtube.com https://youtube.com; object-src 'none'; base-uri 'self'; form-action 'self' https://formspree.io; upgrade-insecure-requests;"
      # Security headers
      X-Frame-Options = "DENY"
      X-Content-Type-Options = "nosniff"
      X-XSS-Protection = "1; mode=block"
      Referrer-Policy = "strict-origin-when-cross-origin"
      Permissions-Policy = "camera=(), microphone=(), geolocation=()"