---
import Layout from "../../layouts/Layout.astro";
import BlogFeed from "../../components/BlogFeed.astro";
import NewsletterCTA from "../../components/NewsletterCTA.astro";
---

<Layout>
  <div class="blog__feed--wrapper">
    <BlogFeed />
    <NewsletterCTA />
  </div>
</Layout>

<style>
  .blog__feed--wrapper {
    flex-direction: column;
    justify-self: center;
  }
</style>
