---
import Layout from "../../layouts/Layout.astro";
import BlogFeed from "../../components/BlogFeed.astro";
---

<Layout>
  <div class="blog__feed--wrapper">
    <BlogFeed />
  </div>
</Layout>

<!-- Hyvor Talk Comment Count Script -->
<script async src="https://talk.hyvor.com/embed/embed.js" type="module"
></script>

<style>
  .blog__feed--wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    flex-direction: column;
    justify-self: center;
  }
</style>
