---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="page-content">
    <h1>About</h1>
  </div>
</Layout>

<style>
  .page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }

  h1 {
    font-size: 3rem;
    color: #2c3e50;
    text-align: center;
  }
</style>
